<div layout="row" layout-align="center center">
    <md-content layout="column" layout-padding layout-align="center stretch" flex-xs="100" flex-gt-xs="50" flex-gt-sm="40" flex-gt-md="30">
        <div md-whiteframe="2">
            <form name="loginForm">
                 <div layout="row" layout-align="center center">
                    <div class="photo">
                        <svg fill="#4682B4" height="75" viewBox="0 0 24 24" width="75" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                    </div>
                </div>
                <div layout="row" layout-align="center center">
                    <span class="systemName">Emerson System<span>
                </div>
                <br />
                <md-input-container class="md-block">
                    <label for="username">User</label>
                    <input required md-no-asterisk type="text" id="username" name="username" ng-model="username">
                    <div ng-messages="loginForm.username.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label for="password">Password</label>
                    <input required md-no-asterisk type="password" id="password" name="password" ng-model="password">
                    <div ng-messages="loginForm.password.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <div layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary" data-ng-click="login()">Login</md-button>
                </div>
            </form>
        </div>
    </md-content>
</div>